.checkbox-container {
	@apply flex flex-col space-y-1;
}

.checkbox-wrapper {
	@apply flex gap-2;
}

.checkbox-root {
	--checkbox-bg: theme(colors.neutral.0);
	--checkbox-border: theme(colors.neutral.400);
	--checkbox-text: theme(colors.neutral.900);
	--checkbox-bg-hover: theme(colors.neutral.50);
	--checkbox-bg-disabled: theme(colors.neutral.100);
	--checkbox-border-disabled: theme(colors.neutral.200);
	--checkbox-text-disabled: theme(colors.neutral.200);
	@apply size-4 shrink-0 rounded-st ring-offset-1 transition-shadow;
	background-color: var(--checkbox-bg);
	border: 1px solid var(--checkbox-border);
	color: var(--checkbox-text);

	&:hover {
		background-color: var(--checkbox-bg-hover);
	}

	&:focus-visible {
		@apply outline-none ring-2 ring-primary-500;
	}

	&:disabled {
		@apply cursor-not-allowed;
		background-color: var(--checkbox-bg-disabled);
		border-color: var(--checkbox-border-disabled);
		color: var(--checkbox-text-disabled);
	}

	/* Checked state */
	&:is([data-state='checked'], [data-indeterminate='true']) {
		--checkbox-bg: theme(colors.primary.500);
		--checkbox-border: theme(colors.primary.500);
		--checkbox-text: theme(colors.neutral.0);
		--checkbox-bg-hover: theme(colors.primary.600);
		--checkbox-border-disabled: theme(colors.neutral.100);
	}

	/* Error validation state */
	&[data-validation-status='error'] {
		/* Error unchecked state */
		&[data-state='unchecked'] {
			--checkbox-bg: theme(colors.neutral.0);
			--checkbox-border: theme(colors.danger.500);
			--checkbox-text: theme(colors.danger.500);
			--checkbox-bg-hover: theme(colors.danger.50);
		}

		/* Error checked state */
		&:is([data-state='checked'], [data-indeterminate='true']) {
			--checkbox-bg: theme(colors.danger.500);
			--checkbox-border: theme(colors.danger.500);
			--checkbox-text: theme(colors.neutral.0);
			--checkbox-bg-hover: theme(colors.danger.600);
			--checkbox-border-disabled: theme(colors.neutral.100);
		}
	}
}

.checkbox-indicator {
	@apply flex items-center justify-center text-current;
}

.checkbox-label {
	@apply cursor-pointer text-para-regular font-medium leading-none text-neutral-900;

	&.disabled {
		@apply cursor-not-allowed;
	}
}

.checkbox-description {
	@apply pl-6 text-para-regular text-neutral-600;
}

/* Checkbox Group Styles */
.checkbox-group-container {
	@apply flex flex-col gap-1;
}

.checkbox-group-title {
	@apply text-sm font-medium text-neutral-900;

	&.checkbox-group-title-disabled {
		@apply text-neutral-400;
	}
}

.checkbox-group-description {
	@apply mb-1 text-sm text-neutral-600;
}

.checkbox-group {
	@apply flex gap-2;
}

.checkbox-group-vertical {
	@apply flex-col;
}

.checkbox-group-horizontal {
	@apply flex-row flex-wrap;
}

.checkbox-group-disabled {
	@apply cursor-not-allowed opacity-60;
}
