.drawer-overlay {
  @apply s-fixed s-top-0 s-left-0 s-right-0 s-bottom-0 s-flex s-items-center s-justify-center s-bg-neutral-100 s-bg-opacity-90 s-h-full;
  z-index: 9999999 !important;
}

.drawer-container {
  @apply s-fixed s-bg-white s-shadow-md s-transition-transform s-ease-in-out s-duration-300 s-overflow-y-auto s-py-6 s-px-8 s-rounded-md;
  z-index: 10000000 !important;
}

/* For right and left drawers */
.drawer-container.right {
  @apply s-top-0 s-bottom-0 s-right-0 s-h-full s-translate-x-full;
}

.drawer-container.left {
  @apply s-top-0 s-bottom-0 s-left-0 s-h-full s-translate-x-full;
}

.drawer-show.right,
.drawer-show.left {
  @apply s-translate-x-0;
}

/* For top and bottom drawers */
.drawer-container.top,
.drawer-container.bottom {
  @apply s-left-0 s-right-0 s-w-full s-pr-16;
}

.drawer-container.top {
  @apply s-top-0 s-translate-y-full;
}

.drawer-container.bottom {
  @apply s-bottom-0 s-translate-y-full;
}

.drawer-show.top,
.drawer-show.bottom {
  @apply s-translate-y-0
}

/* Widths for right and left drawers */
.drawer-container.right.narrow, .drawer-container.left.narrow {
  width: 320px;
}

.drawer-container.right.regular,
.drawer-container.left.regular {
  width: 560px;
}

.drawer-container.right.wide,
.drawer-container.left.wide {
  width: 920px;
}

/* Heights for top and bottom drawers */
.drawer-container.top.short,
.drawer-container.bottom.short {
  height: 160px;
}

.drawer-container.top.regular,
.drawer-container.bottom.regular {
  height: 320px;
}

.drawer-close-button {
  @apply s-absolute s-p-2 s-hover:bg-neutral-50 s-rounded;
}

.drawer-close-button svg {
  @apply s-w-5 s-h-5;
}

.drawer-close-button {
  @apply s-right-3 s-top-3 s-left-auto;
}

.drawer-content {
  @apply s-space-y-4;
}

.drawer-content>div:first-of-type {
  @apply s-space-y-4;
}