.selectmenu-container {
  @apply 
  min-w-[140px]
  relative;
}
.selectmenu-container label, 
.inline-label {
  @apply 
  flex flex-col;
}
.selectmenu-container label {
  @apply 
  font-medium text-sm leading-5;
}
.selectmenu-trigger {
  @apply 
  flex gap-3 w-full
  min-w-fit h-regular p-regular
  leading-none 
  !bg-white hover:bg-neutral-25 
  border border-regular rounded 
  cursor-pointer appearance-none
  items-center justify-between whitespace-nowrap !pr-2 data-[disabled]:opacity-60 data-[disabled]:cursor-not-allowed;
  padding-right: 2.5rem;
}
.selectmenu-large.selectmenu-trigger {
  @apply 
  gap-4 
  h-large p-large;
  padding-right: 2.5rem;
}
.selectmenu-main {
  @apply 
  flex items-center;
}
.selectmenu-list {
  @apply 
  absolute top-full left-0 
  overflow-y-auto
  w-full 
  bg-white border 
  border-regular rounded 
  shadow-md
  z-50;
  max-height: 14rem;
  min-width: 12rem;
  margin-top: 0.25rem !important;
}

.selectmenu-content { 
  @apply bg-white border z-50 max-h-56 overflow-y-auto border-neutral-100 rounded w-[var(--radix-select-trigger-width)]
}


.selectmenu-item {
  @apply 
  flex items-center 
  h-regular p-regular 
  text-base leading-none 
  whitespace-nowrap 
  bg-transparent hover:bg-neutral-25 
  cursor-pointer justify-between pl-4 pr-1 relative select-none  data-[state=checked]:!bg-primary-50 data-[state=checked]:hover:!bg-primary-100 data-[state=checked]:text-primary-800 data-[disabled]:pointer-events-none data-[highlighted]:outline-none data-[highlighted]:bg-neutral-25;
}

.selectmenu-indicator {
  @apply w-[25px] inline-flex items-center justify-center
}

.selectmenu-item-disabled {
  @apply  
  opacity-75 
  cursor-not-allowed;
} 
.selectmenu-icon svg {
  @apply 
  h-4 w-4;
}
.selectmenu-item-separator {
  @apply 
  border-b border-regular;
}
.selected-indicator {
  @apply 
  w-4 h-4;
}