@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-flex;
  align-items: center;
}

.loader-ring {
  border: 3px solid;
  border-top: 3px solid;
  border-radius: 50%;
  animation: spin .8s linear infinite;
  @apply s-border-neutral-100 s-border-t-primary-500;
}

.loader-text {
  @apply s-ml-2;
}

.loader.small .loader-ring {
  @apply s-w-4 s-h-4;
}

.loader.small .loader-text {
  @apply s-text-sm;
}

.loader.regular .loader-ring {
  @apply s-w-5 s-h-5;
}

.loader.regular .loader-text {
  @apply s-text-base;
}

.loader.large .loader-ring {
  @apply s-w-6 s-h-6;
}

.loader.large .loader-text {
  @apply s-text-lg;
}