.s-modal-overlay {
  @apply s-fixed s-top-0 s-left-0 s-right-0 s-bottom-0 s-flex s-items-center s-justify-center s-h-screen;
  background: rgb(162, 193, 196);
  /* background: linear-gradient(145deg, rgba(162,193,196,0.s-80) 0%, rgba(224,219,198,0.s-80) 100%); */
  background: linear-gradient(145deg, rgba(230, 234, 235, 0.s-80) 0%, rgba(162, 193, 196, 0.s-80) 100%);
  /* background: linear-gradient(145deg, #E6EAEB 10%, #a2c1c4 60%); */
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.s-modal {
  @apply s-relative s-flex s-flex-col s-bg-white s-overflow-y-auto s-rounded-md s-shadow-lg;
  width: 50vw;
  min-height: 100px;
  max-height: 96vh;
}

.s-modal-header,
.s-modal-footer {
  @apply s-px-6;
}

.s-modal-header {
  @apply s-pt-5;
}

.s-modal-content {
  @apply s-flex-1 s-text-base s-px-6 s-py-4 s-overflow-y-auto;
}

.s-modal-footer {
  @apply s-py-6;
}

.s-modal-small {
  width: 35vw;
}

.s-modal-small .s-modal-content {
  @apply s-pb-8;
}

.s-modal-large {
  width: 75vw;
}

.s-modal-regular .s-modal-content {
  @apply s-px-6 s-py-4;
}

.s-modal-close-button {
  @apply s-absolute s-top-3 s-right-3 s-p-2 hover:s-bg-neutral-50 s-rounded s-z-50;
}

.s-modal-close-button svg {
  @apply s-w-5 s-h-5;
}

/* Fullscreen */

.s-modal-fullscreen {
  @apply s-h-full s-w-screen s-m-4 s-overflow-y-auto;
}

.s-modal-fullscreen .s-modal-header,
.s-modal-regular.s-modal-large .s-modal-header {
  @apply s-bg-brand-deep-light s-pb-4 s-z-10;
}

/* .s-modal-large .s-modal-content,  .s-modal-fullscreen .s-modal-content {
  @apply s-p-0;
} */