.s-progress-tracker {
    @apply s-relative s-flex s-justify-between s-items-start;
}

.s-progress-tracker.s-inline {
    @apply s-w-min;
}

.s-progress-tracker.s-full {
    @apply s-w-full;
}

/* Step */

.s-progress-step {
    @apply s-relative s-flex s-flex-col s-space-y-1 s-w-full;
    min-width: 6rem;
}

.s-progress-step:last-of-type {
    @apply s-w-min;
}

.s-progress-step>div:first-of-type {
    @apply s-flex s-flex-row s-items-center;
}

/* Circle */

.s-progress-circle {
    @apply s-relative s-flex s-flex-col s-items-center s-justify-center s-shrink-0 s-w-5 s-h-5 s-bg-neutral-50 s-text-lightest s-whitespace-nowrap s-rounded-full s-z-10;
}

.s-step-label {
    @apply s-text-center s-text-xs s-font-medium;
}

.s-progress-circle svg {
    @apply s-w-3 s-h-3;
}

.s-progress-tracker.s-small .s-progress-circle {
    @apply s-w-4 s-h-4;
}

.s-progress-tracker.s-large .s-progress-circle {
    @apply s-w-6 s-h-6;
}

.s-progress-tracker.s-small .s-progress-circle .s-step-label {
    @apply s-text-xxs;
}

.s-progress-tracker.s-large .s-progress-circle .s-step-label {
    @apply s-text-base;
}

.s-progress-tracker.s-bullet .s-progress-circle {
    @apply s-w-3 s-h-3;
}

.s-progress-tracker.s-small.s-bullet .s-progress-circle {
    @apply s-w-2 s-h-2;
}

.s-progress-tracker.s-large.s-bullet .s-progress-circle {
    @apply s-w-4 s-h-4;
}

.s-progress-tracker.s-bullet .s-progress-circle svg {
    @apply s-hidden;
}

.s-progress-step.s-done .s-progress-bar,
.s-progress-step.s-done .s-progress-circle {
    @apply s-bg-primary-500 s-text-white;
}

.s-progress-step.s-active .s-progress-circle {
    @apply s-bg-primary-500 s-text-white;
}

/* Description */

.s-step-description {
    @apply s-mt-2 s-text-lightest;
}

.s-progress-step.s-active .s-step-description {
    @apply s-text-primary-600;
}

.s-progress-tracker.s-small .s-progress-step .s-step-description {
    @apply s-text-sm;
}

.s-progress-tracker.s-large .s-progress-step .s-step-description {
    @apply s-text-base;
}

/* Progress Bar */

.s-progress-bar {
    @apply s-w-full s-bg-neutral-50;
}

.s-progress-tracker.s-small .s-progress-bar {
    @apply s-h-0.5;
}

.s-progress-tracker.s-regular .s-progress-bar {
    @apply s-h-1;
}

.s-progress-tracker.s-large .s-progress-bar {
    @apply s-h-2;
}




/* Vertical */

.s-progress-tracker.s-vertical {
    @apply s-flex-col s-w-full;
}

/* Step */

.s-progress-tracker.s-vertical .s-progress-step {
    @apply s-flex-row s-items-start s-gap-2 s-h-full;
}

/* Circle */

.s-progress-tracker.s-vertical .s-progress-circle {
    @apply s-mb-5;
}

/* Progress Bar */

.s-progress-tracker.s-vertical .s-progress-bar {
    @apply s-absolute s-top-0 s-left-2 s-bottom-0 s-overflow-auto s-w-1 s-h-full;
    min-height: 2.s-5rem;
}

.s-progress-tracker.s-vertical.s-small .s-progress-bar {
    @apply s-left-1.5 s-w-0.5 s-h-full;
}

.s-progress-tracker.s-vertical.s-large .s-progress-bar {
    @apply s-w-2 s-h-full;
}

.s-progress-tracker.s-vertical.s-bullet .s-progress-bar {
    @apply s-left-1;
}

.s-progress-tracker.s-vertical.s-small.s-bullet .s-progress-bar {
    left: 0.s-20rem;
}

.s-progress-tracker.s-vertical.s-large.s-bullet .s-progress-bar {
    @apply s-left-1;
}

.s-progress-tracker.s-vertical .s-progress-step>div:first-of-type {
    @apply s-flex-col;
}

/* Description */

.s-progress-tracker.s-vertical .s-step-description {
    @apply s-mt-0.5 s-pb-4;
}

.s-progress-tracker.s-vertical.s-small .s-step-description {
    @apply s-mt-0 s-pb-2;
}

.s-progress-tracker.s-vertical.s-large .s-step-description {
    @apply s-mt-1 s-pb-6;
}