.tooltip {
  @apply 
  relative 
  inline-block 
  decoration-dotted underline-offset-4 
  cursor-help;
}
.tooltip svg {
  @apply 
  w-5 h-5;
}

.tooltip-content {
  @apply 
  absolute 
  /* bg-brand-deep-dark 
  text-brand-deep-light  */
  px-2.5 py-2 
  rounded 
  shadow 
  /* shadow-[0_-10px_20px_-10px_hsl(206_22%_7%_/_35%),0_10px_20px_-15px_hsl(206_22%_7%_/_20%)] */
  opacity-0 transition-opacity duration-300 z-50 
  m-0  relative
  cursor-default;
  visibility: hidden;
  
}

.tooltip-content.dark {
  @apply   bg-brand-deep-dark 
  text-brand-deep-light 
}

.tooltip-content.light {
  @apply  bg-white
  text-brand-deep-dark
}

.tooltip-content.visible {
  @apply 
  opacity-100;
  visibility: visible;
}

.tooltip-content {
  @apply 
  flex flex-col space-y-2;
}

.tooltip-content a {
  @apply 
  text-primary-400;
}

.tooltip-top-right .tooltip-content {
  @apply 
  bottom-full -right-2 
  mb-2;
}

.tooltip-top-left .tooltip-content {
  @apply 
  bottom-full -left-2 
  mb-2;
}

.tooltip-bottom-right .tooltip-content {
  @apply 
  top-full -right-2 
  mt-2;
}

.tooltip-bottom-left .tooltip-content {
  @apply 
  top-full -left-2 
  mt-2;
}

/* Width props */
.tooltip-width-small .tooltip-content {
  @apply 
  w-48;
}
.tooltip-width-regular .tooltip-content {
  @apply 
  w-64;
}
.tooltip-width-large .tooltip-content {
  @apply 
  w-96;
}

/* Triangles using pseudo-elements */
.tooltip-top-right .tooltip-content::before,
.tooltip-top-left .tooltip-content::before {
  content: "";
  @apply 
  absolute top-full 
  w-0 h-0 
  border-transparent border-t-brand-deep-dark;
  border-width: 4px;
}

.tooltip-top-right .tooltip-content::before {
  @apply 
  right-4;
}

.tooltip-top-left .tooltip-content::before {
  @apply 
  left-4;
}

.tooltip-bottom-right .tooltip-content::before,
.tooltip-bottom-left .tooltip-content::before {
  content: "";
  @apply 
  absolute bottom-full 
  w-0 h-0 
  border-transparent border-b-brand-deep-dark;
  border-width: 4px;
}

.tooltip-bottom-right .tooltip-content::before {
  @apply 
  right-4;
}

.tooltip-bottom-left .tooltip-content::before {
  @apply 
  left-4;
}

.tooltip-arrow {

}
