.btn {
	@apply gap-mi rounded-st px-xs text-body-medium inline-flex h-8 cursor-pointer items-center justify-center capitalize leading-none outline-none transition-shadow;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	border: var(--btn-border);

	&:focus-visible {
		@apply ring-primary-500 ring-2 ring-offset-1;
	}

	&:hover {
		background-color: var(--btn-bg-hover);
		border: var(--btn-border-hover, var(--btn-border));
	}

	&:active {
		background-color: var(--btn-bg-active);
		border: var(
			--btn-border-active,
			var(--btn-border-hover, var(--btn-border))
		);
	}

	/* Variants */
	&.btn-primary {
		--btn-bg: theme(colors.primary.500);
		--btn-text: theme(colors.neutral.0);
		--btn-border: none;
		--btn-bg-hover: theme(colors.primary.600);
		--btn-bg-active: theme(colors.primary.700);
	}

	&.btn-primary-outline {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.primary.600);
		--btn-border: 1px solid theme(colors.primary.600);
		--btn-bg-hover: theme(colors.primary.50);
		--btn-bg-active: theme(colors.primary.200);
	}

	&.btn-primary-ghost {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.primary.500);
		--btn-border: none;
		--btn-bg-hover: theme(colors.primary.50);
		--btn-bg-active: theme(colors.primary.200);
	}

	&.btn-neutral {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.neutral.600);
		--btn-border: 1px solid theme(colors.neutral.400);
		--btn-bg-hover: theme(colors.neutral.50);
		--btn-bg-active: theme(colors.neutral.200);
	}

	&.btn-neutral-ghost {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.neutral.600);
		--btn-border: none;
		--btn-bg-hover: theme(colors.neutral.50);
		--btn-bg-active: theme(colors.neutral.200);
	}

	&.btn-danger {
		--btn-bg: theme(colors.danger.500);
		--btn-text: theme(colors.neutral.0);
		--btn-border: none;
		--btn-bg-hover: theme(colors.danger.600);
		--btn-bg-active: theme(colors.danger.700);
	}

	&.btn-danger-outline {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.danger.600);
		--btn-border: 1px solid theme(colors.danger.600);
		--btn-bg-hover: theme(colors.danger.50);
		--btn-bg-active: theme(colors.danger.200);
	}

	&.btn-danger-ghost {
		--btn-bg: theme(colors.neutral.0);
		--btn-text: theme(colors.danger.600);
		--btn-border: none;
		--btn-bg-hover: theme(colors.danger.50);
		--btn-bg-active: theme(colors.danger.200);
	}

	/* Size and state variants */
	&.btn-full-width {
		@apply w-full;
	}

	&.btn-large {
		@apply px-sm py-xs text-lead-regular h-10 leading-none;
	}

	&:is(.btn-loading, .btn-disabled) {
		@apply cursor-not-allowed;
	}

	&.btn-loading {
		@apply opacity-50;
	}

	&.btn-disabled {
		--btn-bg: theme(colors.neutral.200);
		--btn-text: theme(colors.neutral.300);
		--btn-border: none;
		--btn-bg-hover: theme(colors.neutral.200);
		--btn-bg-active: theme(colors.neutral.200);
	}
}
