.s-accordion-root {
	@apply w-full overflow-clip rounded-lg border border-neutral-200;
}

.s-accordion-item {
	@apply border-b border-neutral-200 transition-[colors,box-shadow];
}

.s-accordion-item:first-child .s-accordion-trigger {
	@apply rounded-t-lg;
}

.s-accordion-item:last-child {
	@apply border-b-0;
}

.s-accordion-item:last-child .s-accordion-trigger:not([aria-expanded='true']) {
	@apply rounded-b-lg;
}

.s-accordion-item-disabled {
	@apply cursor-not-allowed opacity-60;
}

.s-accordion-trigger {
	@apply flex w-full cursor-pointer items-center px-xs py-mi text-para-medium text-neutral-900 outline-none transition-colors;
	@apply hover:bg-neutral-50;
	@apply ring-inset focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500;
	@apply data-[disabled]:cursor-not-allowed data-[disabled]:opacity-60;
}

.s-accordion-trigger[aria-expanded='true'] {
	@apply bg-neutral-50;
}

.s-accordion-icon {
	@apply size-4;
}

.s-accordion-trigger.s-accordion-icon-right {
	@apply justify-between;
}

.s-accordion-trigger.s-accordion-icon-left {
	@apply flex-row gap-2;
}

.s-accordion-trigger-content {
	@apply text-left;
}

.s-accordion-icon-right .s-accordion-trigger-content {
	@apply flex-1;
}

.s-accordion-icon-left .s-accordion-trigger-content {
	@apply flex-1;
}

.s-accordion-content {
	@apply overflow-hidden text-para-regular text-neutral-700;
}

.s-accordion-content[data-state='open'] {
	animation: accordion-down 0.2s ease-out;
}

.s-accordion-content[data-state='closed'] {
	animation: accordion-up 0.2s ease-out;
}

.s-accordion-content-inner {
	@apply px-xs py-mi;
}

/* Define accordion animations */
@keyframes accordion-down {
	from {
		height: 0;
	}

	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}

	to {
		height: 0;
	}
}
