.drawer-overlay {
	@apply fixed bottom-0 left-0 right-0 top-0 flex h-full items-center justify-center bg-black/40;
	z-index: 9999999 !important;
}

/* Overlay animations */
.drawer-overlay[data-state='open'] {
	@apply animate-in fade-in-0;
}

.drawer-overlay[data-state='closed'] {
	@apply animate-out fade-out-0;
}

.drawer-container {
	@apply fixed overflow-y-auto rounded-md bg-white shadow-md;
	z-index: 10000000 !important;
}

/* Base drawer animations */
.drawer-container[data-state='open'] {
	@apply animate-in fade-in-0 zoom-in-95 duration-300;
}

.drawer-container[data-state='closed'] {
	@apply animate-out fade-out-0 zoom-out-95 duration-200;
}

/* Direction-specific animations */
.drawer-container.left[data-state='open'] {
	@apply slide-in-from-left;
}

.drawer-container.left[data-state='closed'] {
	@apply slide-out-to-left;
}

.drawer-container.right[data-state='open'] {
	@apply slide-in-from-right;
}

.drawer-container.right[data-state='closed'] {
	@apply slide-out-to-right;
}

.drawer-container.top[data-state='open'] {
	@apply slide-in-from-top;
}

.drawer-container.top[data-state='closed'] {
	@apply slide-out-to-top;
}

.drawer-container.bottom[data-state='open'] {
	@apply slide-in-from-bottom;
}

.drawer-container.bottom[data-state='closed'] {
	@apply slide-out-to-bottom;
}

/* For right and left drawers */
.drawer-container.right {
	@apply bottom-0 right-0 top-0 h-full;
}

.drawer-container.left {
	@apply bottom-0 left-0 top-0 h-full;
}

/* For top and bottom drawers */
.drawer-container.top,
.drawer-container.bottom {
	@apply left-0 right-0 w-full;
}
.drawer-container.top {
	@apply top-0;
}
.drawer-container.bottom {
	@apply bottom-0;
}

/* Widths for right and left drawers */
.drawer-container.right.narrow,
.drawer-container.left.narrow {
	width: 320px;
}
.drawer-container.right.regular,
.drawer-container.left.regular {
	width: 560px;
}
.drawer-container.right.wide,
.drawer-container.left.wide {
	width: 920px;
}

/* Heights for top and bottom drawers */
.drawer-h-short {
	height: 30vh;
}
.drawer-h-regular {
	height: 50vh;
}
.drawer-h-max {
	height: 90vh;
}

.drawer-close-button {
	@apply absolute rounded p-2 hover:bg-neutral-50;
}
.drawer-close-button svg {
	@apply h-5 w-5;
}
.drawer-close-button {
	@apply left-auto right-3 top-3;
}
.drawer-content {
	@apply space-y-4;
}
.drawer-content > div:first-of-type {
	@apply space-y-4;
}
