.drawer-overlay {
	@apply fixed bottom-0 left-0 right-0 top-0 flex h-full items-center justify-center bg-neutral-100 bg-opacity-90;
	z-index: 9999999 !important;
}
.drawer-container {
	@apply fixed overflow-y-auto rounded-md bg-white shadow-md transition-transform duration-300 ease-in-out;
	z-index: 10000000 !important;
}

/* For right and left drawers */
.drawer-container.right {
	@apply bottom-0 right-0 top-0 h-full translate-x-full;
}

.drawer-container.left {
	@apply bottom-0 left-0 top-0 h-full -translate-x-full;
}

.drawer-show.right,
.drawer-show.left {
	@apply translate-x-0;
}

/* For top and bottom drawers */
.drawer-container.top,
.drawer-container.bottom {
	@apply left-0 right-0 w-full;
}
.drawer-container.top {
	@apply top-0 -translate-y-full;
}
.drawer-container.bottom {
	@apply bottom-0 translate-y-full;
}
.drawer-show.top,
.drawer-show.bottom {
	@apply translate-y-0;
}

/* Widths for right and left drawers */
.drawer-container.right.narrow,
.drawer-container.left.narrow {
	width: 320px;
}
.drawer-container.right.regular,
.drawer-container.left.regular {
	width: 560px;
}
.drawer-container.right.wide,
.drawer-container.left.wide {
	width: 920px;
}

/* Heights for top and bottom drawers */
.drawer-h-short {
	height: 30vh;
}
.drawer-h-regular {
	height: 50vh;
}
.drawer-h-max {
	height: 90vh;
}

/* .drawer-container.top.h-short, .drawer-container.bottom.h-short {
    height: 30vh;
  }
  .drawer-container.top.h-regular, .drawer-container.bottom.h-regular {
    height: 50vh;
  }

  .drawer-container.top.h-max, .drawer-container.bottom.h-max {
    height: 90vh;
  } */
.drawer-close-button {
	@apply absolute rounded p-2 hover:bg-neutral-50;
}
.drawer-close-button svg {
	@apply h-5 w-5;
}
.drawer-close-button {
	@apply left-auto right-3 top-3;
}
.drawer-content {
	@apply space-y-4;
}
.drawer-content > div:first-of-type {
	@apply space-y-4;
}
