.badge {
	@apply box-border inline-flex items-center gap-ti border border-solid text-body-caption font-medium;
	background-color: var(--badge-bg);
	color: var(--badge-text);
	border-color: var(--badge-border);

	/* Size variants */
	&.badge-regular {
		@apply px-ti py-si;
	}

	&.badge-medium {
		@apply px-mi py-ti;
	}

	&.badge-large {
		@apply px-mi py-ti text-body;
	}

	/* Radius variants */
	&.radius-full {
		@apply rounded-circular;
	}

	&.radius-small {
		@apply rounded-st;
	}

	/* Style variants */
	&.badge-outline {
		--badge-bg: transparent;
	}

	/* Color variants */
	&.badge-primary {
		--badge-bg: theme(colors.primary.100);
		--badge-text: theme(colors.primary.600);
		--badge-border: theme(colors.primary.200);

		&.badge-dark {
			--badge-bg: theme(colors.primary.500);
			--badge-text: theme(colors.neutral.0);
			--badge-border: transparent;
		}
	}

	&.badge-neutral {
		--badge-bg: theme(colors.neutral.100);
		--badge-text: theme(colors.neutral.900);
		--badge-border: theme(colors.neutral.200);

		&.badge-dark {
			--badge-bg: theme(colors.neutral.500);
			--badge-text: theme(colors.neutral.0);
			--badge-border: transparent;
		}
	}

	&.badge-danger {
		--badge-bg: theme(colors.danger.100);
		--badge-text: theme(colors.danger.600);
		--badge-border: theme(colors.danger.200);

		&.badge-dark {
			--badge-bg: theme(colors.danger.500);
			--badge-text: theme(colors.neutral.0);
			--badge-border: transparent;
		}
	}

	&.badge-warning {
		--badge-bg: theme(colors.warn.100);
		--badge-text: theme(colors.warn.900);
		--badge-border: theme(colors.warn.200);

		&.badge-dark {
			--badge-bg: theme(colors.warn.500);
			--badge-text: theme(colors.warn.1000);
			--badge-border: transparent;
		}
	}

	&.badge-success {
		--badge-bg: theme(colors.success.100);
		--badge-text: theme(colors.success.600);
		--badge-border: theme(colors.success.200);

		&.badge-dark {
			--badge-bg: theme(colors.success.500);
			--badge-text: theme(colors.neutral.0);
			--badge-border: transparent;
		}
	}

	&.badge-info {
		--badge-bg: theme(colors.info.100);
		--badge-text: theme(colors.info.600);
		--badge-border: theme(colors.info.200);

		&.badge-dark {
			--badge-bg: theme(colors.info.500);
			--badge-text: theme(colors.neutral.0);
			--badge-border: transparent;
		}
	}

	&.badge-brand {
		--badge-bg: theme(colors.brand.deep.light);
		--badge-text: theme(colors.brand.deep.dark);
		--badge-border: theme(colors.brand.deep.light);

		&.badge-dark {
			--badge-bg: theme(colors.brand.deep.dark);
			--badge-text: theme(colors.brand.lime.light);
			--badge-border: transparent;
		}
	}
}
